<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%logger{36} %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.lm" level="debug" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Logger name="org.lm.frontend.parser.Parser" level="error" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>